.panel {
  background: white;
  margin: 20px auto;
  border-radius: 16px;
  max-width: 1200px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}

.padding-40 {
  padding: 40px;
}

.f-x-large {
  font-size: 28px;
  font-weight: 700;
}

.f-large {
  font-size: 18px;
  margin-top: 10px;
}