<div class="panel padding-20">
  <div class="row">
    <div class="col-12">
      <div class="nav-section">
        <a routerLink="" routerLinkActive="active-link">All</a>
        <a routerLink="/favorites" routerLinkActive="active-link">Favorites</a>
      </div>

      <div class="nav-section">
        <span class="nav-title">Regions:</span>
        @for (region of regions; track region) {
          <a [routerLink]="['/region', region]" routerLinkActive="active-link">{{ region }}</a>
        }
      </div>

      <div class="nav-section">
        <span class="nav-title">Letters:</span>
        @for (letter of letters; track letter) {
          <a [routerLink]="['/letter', letter]" routerLinkActive="active-link">{{ letter }}</a>
        }
      </div>
    </div>
  </div>
</div>